:root {
    --font-family: "Montserrat", sans-serif;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 36px 156px;
}

/* Menu */

.first-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 16px;
  max-width: 200px;
}

.first-buttons a {
  transition: transform var(--animation);
}

.first-buttons a:hover,
.back-btn:hover {
  transform: scale(1.05);
}

.back-btn {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 200px;
  transition: transform var(--animation);
}
